<%- include('./includes/header.ejs')%>
<%- include('./includes/header-body.ejs')%>
<%- include('./includes/navigation.ejs')%>

<main>


    <div class="container">

        <img src="/images/not-found.jpg"
            class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
            alt="Not found!">

    </div>

</main>

<%- include('./includes/footer.ejs')%>